<div class="px-3 px-lg-6 px-xxl-13 py-5 py-lg-10">
    <div class="d-flex flex-wrap flex-md-nowrap mb-6">
        <div class="mr-0 mr-md-auto">
            <h2 class="mb-0 text-heading fs-22 lh-15">Dil İşlemleri
            </h2>
            <p>İçeriklerinizin dil ayarlarını buradan gerçekleştirebilirsiniz.</p>
        </div>
        <div class="form-inline justify-content-md-end mx-n2">
            <div class="p-2">
                <div class="input-group input-group-lg bg-white border">
                    <div class="input-group-prepend">
                        <button class="btn pr-0 shadow-none" type="button"><i class="far fa-search"></i></button>
                    </div>
                    <input type="text" class="form-control bg-transparent border-0 shadow-none text-body"
                        placeholder="Kategorilerde ara" name="search" autocomplete="off" id="searchInput">
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">Dil Adı</th>
                    <th scope="col">Kısaltma</th>
                    <th scope="col">Eklenme Tarihi</th>
                    <th scope="col">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <form action="/dashboard/language" method="post">
                    <tr>
                        <td>
                            <input type="text" class="form-control" placeholder="Dil" name="name" autocomplete="off">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Ör: tr" name="short">
                        </td>
                        <td>
                            <input type="date" class="form-control" placeholder="Eklenme Tarihi" disabled>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button type="submit" class="dropdown-item">Ekle</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </form>

                {{#each language}}
                <form action="/dashboard/language/update/{{this.id}}" method="post">
                    <tr>
                        <td>
                            <input type="text" class="form-control" value="{{this.name}}" name="name">
                        </td>
                         <td>
                            <input type="text" class="form-control" placeholder="Ör: tr" name="short" value="{{this.short}}">
                        </td>
                        <td>
                            <input type="date" class="form-control" value="{{this.created_at}}" disabled>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" type="submit">Kaydet</button>
                                    <a class="dropdown-item" href="/dashboard/category/delete/{{this.id}}">Sil</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </form>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#searchInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('table tbody tr').filter(function () {
                var rowText = $(this).find('input').map(function () {
                    return $(this).val().toLowerCase();
                }).get().join(' ');

                $(this).toggle(rowText.indexOf(value) > -1);
            });
        });
    });
</script>