<section class="pb-9 pb-md-11 mt-5">
    <div class="container">
        {{#each products}}

        <div
            class="media d-flex flex-column flex-md-row align-items-md-center py-lg-8 position-relative cusstom-bg-slider-gray no-gutters">
            <div class="mr-lg-10 mr-md-6 card border-0 col-md-6">
                {{#with (lookup this.media.images 0)}}
                <img src="/public/uploads/{{path}}" alt="Home in Metric Way" class="card-img">
                {{/with}}
                <div class="card-img-overlay p-2">
                    {{#eq this.description.propert_status 'sale'}}
                    <span class="badge badge-indigo position-absolute pos-fixed-top">{{..._.core.sale}}</span>
                    {{else}}
                    <span class="badge badge-primary position-absolute pos-fixed-top">{{..._.core.rent}}</span>
                    {{/eq}}
                </div>
            </div>
            <div class="media-body mt-3 mt-lg-0 pr-lg-9">
                <h2 class="my-0"><a href="/product/{{this.id}}"
                        class="fs-26 lh-2 text-dark hover-primary">{{this.description.title}}</a></h2>
                <p class="mb-2 fs-16 font-weight-500 text-gray-light lh-1">{{this.location.address}}</p>
                <p class="mb-2 ml-0 pr-lg-3">{{this.description.description}}</p>
                <ul class="row list-inline mb-0 py-3">
                    <li class="col-sm-6">
                        <p class="mb-0 text-gray font-weight-500 fs-13 mb-3 d-inline-block" data-toggle="tooltip"
                            title="{{this.detail.bedrooms}} {{..._.core.bedrooms}}">
                            <svg class="icon icon-bedroom fs-24 text-primary mr-2">
                                <use xlink:href="#icon-bedroom"></use>
                            </svg>
                            {{this.detail.bedrooms}} {{..._.core.bedrooms}}
                        </p>
                    </li>
                    <li class="col-sm-6">
                        <p class="mb-0 text-gray font-weight-500 fs-13 mb-3 d-inline-block" data-toggle="tooltip"
                            title="{{this.detail.bathrooms}} {{..._.core.bathrooms}}">
                            <svg class="icon icon-shower fs-24 text-primary mr-2">
                                <use xlink:href="#icon-shower"></use>
                            </svg>
                            {{this.detail.bathrooms}} {{..._.core.bathrooms}}
                        </p>
                    </li>
                    <li class="col-sm-6">
                        <p class="mb-0 text-gray font-weight-500 fs-13 mb-3 d-inline-block" data-toggle="tooltip"
                            title="{{this.detail.size_in_ft}} &#13217;">
                            <svg class="icon icon-square fs-24 text-primary mr-2">
                                <use xlink:href="#icon-square"></use>
                            </svg>
                            {{this.detail.size_in_ft}} &#13217;
                        </p>
                    </li>
                    <li class="col-sm-6">
                        <p class="mb-0 text-gray font-weight-500 fs-13 mb-3 d-inline-block" data-toggle="tooltip"
                            title="{{this.detail.garages}} {{..._.core.garage}}">
                            <svg class="icon icon-Garage fs-24 text-primary mr-2">
                                <use xlink:href="#icon-Garage"></use>
                            </svg>
                            {{this.detail.garages}} {{..._.core.garage}}
                        </p>
                    </li>
                </ul>
                <div class="d-flex justify-content-between pt-5 border-top">
                    <p class="fs-20 font-weight-bold text-heading mb-1">
                        {{this.description.before_price_label}}&nbsp;{{this.description.price_in}}&nbsp;{{this.description.after_price_label}}
                    </p>
                    <ul class="list-inline mb-0 d-flex justify-content-end align-items-end h-100 hover-image">
                        <li class="list-inline-item">
                            <a href="/product/{{this.id}}" class="text-body fs-20 hover-primary" data-toggle="tooltip" title="Detay">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>