<section class="pb-4 page-title shadow mt-4">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb pt-6 pt-lg-2 lh-15 pb-5">
                <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Arama Sonuçları</li>
            </ol>
            <h1 class="fs-30 lh-1 mb-0 text-heading font-weight-600">Arama Sonuçları</h1>
        </nav>
    </div>
</section>
<section class="pt-11 pt-md-14 pb-11 bg-gray-01">
    <div class="container">
        <div class="row">
            {{#each result}}
            {{#eq this.language.short ...lang}}
            <div class="col-lg-4 col-sm-6 mb-6" data-animate="zoomIn">
                <div class="card shadow-hover-1">
                    <div class="hover-change-image bg-hover-overlay rounded-lg card-img-top">
                        {{#with (lookup this.media.images 0)}}
                        <img src="/public/uploads/{{path}}" alt="Home in Metric Way">
                        {{/with}}
                        <div class="card-img-overlay p-2 d-flex flex-column">
                            <div>
                                {{#eq this.description.propert_status 'sale'}}
                                <span
                                    class="badge badge-indigo position-absolute pos-fixed-top">{{..._.core.sale}}</span>
                                {{else}}
                                <span
                                    class="badge badge-primary position-absolute pos-fixed-top">{{..._.core.rent}}</span>
                                {{/eq}}
                            </div>
                            <ul class="list-inline mb-0 mt-auto hover-image">
                                <li class="list-inline-item mr-2" data-toggle="tooltip" title="9 /public/images">
                                    <a href="/product/{{this.id}}" class="text-white hover-primary">
                                        <i class="far fa-/public/images"></i><span class="pl-1">9</span>
                                    </a>
                                </li>
                                <li class="list-inline-item" data-toggle="tooltip" title="2 Video">
                                    <a href="#" class="text-white hover-primary">
                                        <i class="far fa-play-circle"></i><span class="pl-1">2</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body pt-3">
                        <h2 class="card-title fs-16 lh-2 mb-0"><a href="/product/{{this.id}}"
                                class="text-dark hover-primary">{{this.description.title}}</a></h2>
                        <p class="card-text font-weight-500 text-gray-light mb-2">{{this.location.address}}
                        </p>
                        <ul class="list-inline d-flex justify-content-between mb-0 flex-wrap mr-n5">
                            <li class="list-inline-item text-gray font-weight-500 fs-13 d-flex align-items-center mr-5"
                                data-toggle="tooltip" title="3 Bedroom"><svg
                                    class="icon icon-bedroom fs-18 text-primary mr-1">
                                    <use xlink:href="#icon-bedroom"></use>
                                </svg>{{this.detail.bedrooms}}</li>
                            <li class="list-inline-item text-gray font-weight-500 fs-13 d-flex align-items-center mr-5"
                                data-toggle="tooltip" title="3 Bathrooms"><svg
                                    class="icon icon-shower fs-18 text-primary mr-1">
                                    <use xlink:href="#icon-shower"></use>
                                </svg>{{this.detail.bathrooms}} Ba</li>
                            <li class="list-inline-item text-gray font-weight-500 fs-13 d-flex align-items-center mr-5"
                                data-toggle="tooltip" title="Size"><svg
                                    class="icon icon-square fs-18 text-primary mr-1">
                                    <use xlink:href="#icon-square"></use>
                                </svg>{{this.detail.size_in_ft}}</li>
                            <li class="list-inline-item text-gray font-weight-500 fs-13 d-flex align-items-center mr-5"
                                data-toggle="tooltip" title="1 Garage"><svg
                                    class="icon icon-Garage fs-18 text-primary mr-1">
                                    <use xlink:href="#icon-Garage"></use>
                                </svg>{{this.detail.garages}} Gr</li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent d-flex justify-content-between align-items-center py-3">
                        <p class="fs-17 font-weight-bold text-heading mb-0">
                            {{this.description.before_price_label}}&nbsp;{{this.description.price_in}}&nbsp;{{this.description.after_price_label}}
                        </p>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="#"
                                    class="w-40px h-40 border rounded-circle d-inline-flex align-items-center justify-content-center text-body hover-secondary bg-hover-accent border-hover-accent"
                                    data-toggle="tooltip" title="Wishlist"><i class="far fa-heart"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"
                                    class="w-40px h-40 border rounded-circle d-inline-flex align-items-center justify-content-center text-body hover-secondary bg-hover-accent border-hover-accent"
                                    data-toggle="tooltip" title="Compare"><i class="fas fa-exchange-alt"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/eq}}
            {{/each}}
        </div>
    </div>
</section>